.movies-card {
  box-sizing: border-box;
  background-color: #222222;
  list-style-type: none;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-columns: 206px 28px;
  justify-content: space-between;
}

.movies-card__image {
  grid-column: 1 / 3;
  width: 100%;
  aspect-ratio: 25 / 14;
  object-fit: contain;
  background-color: #202020;
}

.movies-card__title {
  margin: 14px 0 10px 12px;
  padding: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 15.73px;
  color: #fff;
}

.movies-card__like-button {
  margin: 14px 0 0;
  padding: 0;
  background-image: url("../../images/like.svg");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 16px;
  height: 16px;
  cursor: pointer;
  justify-self: start;
}

.movies-card__like-button:hover {
  opacity: 0.8;
}

.movies-card__like-button_active {
  background-image: url("../../images/like_active.svg");
}

.movies-card__length {
  font-weight: 400;
  font-size: 11px;
  line-height: 13.31px;
  color: #8b8b8b;
  margin: 0 0 14px 12px;
}
