.profile {
  width: 100%;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 74px 0 64px;
  box-sizing: border-box;
}

.profile__title {
  margin: 0;
}

.profile__form {
  margin-top: 100px;
  width: 410px;
  display: flex;
  flex-direction: column;
}

.profile__label {
  box-sizing: border-box;
  border-bottom: 1px solid #424242;
  padding: 5px 0 17px;
  font-weight: 500;
  font-size: 11px;
  line-height: 13.31px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile__label:nth-of-type(2n) {
  border-bottom: none;
}

.profile__label_type_inedited {
  padding-top: 17px;
}

.profile__input {
  background-color: transparent;
  max-width: 122px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13.31px;
  color: #fff;
  text-align: right;
  border: none;
}

.profile__input:focus {
  outline: 2px solid #424242;
}

.profile__input:invalid {
  color: #ee3465;
}

.profile__options {
  margin: 172px 0 70px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile__option {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  color: #fff;
  cursor: pointer;
}

.profile__option:hover {
  opacity: 0.7;
}

.profile__option_type_exit {
  color: #ee3465;
  font-weight: 500;
}

.profile__api-error {
  margin: 172px 0 20px;
}

@media screen and (max-width: 768px) {
  .profile {
    padding: 236px 0 96px;
  }

  .profile__form {
    margin-top: 79px;
  }

  .profile__options {
    margin-top: 193px;
  }
}

@media screen and (max-width: 470px) {
  .profile {
    padding: 70px 0 40px;
  }

  .profile__form {
    margin-top: 63px;
    width: calc(100vw - 60px);
  }

  .profile__options {
    margin-top: calc(100vh - 418px);
  }
}
