.api-error {
  font-weight: 400;
  font-size: 11px;
  line-height: 13.31px;
  color: #ee3465;
  text-align: center;
  min-height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


