.navTab {
  width: 129px;
  height: 36px;
  border-radius: 3px;
  opacity: 60%;
  cursor: pointer;
  border: 1px solid #FFF;
  color: #FFF;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background-color: transparent;
}

.navTab:hover {
  opacity: 80%;
}

@media screen and (max-width: 1000px) {
  .navTab {
    margin: auto;
  }
}
